<section class="h-100 gradient-custom-2" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black mb-4">
          <div class="card-body p-md-5 mx-md-4">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-4">
                  <img class="img-fluid" src="/assets/app-logo.png" alt="logo" />
                </div>
                <div class="col-md-8 ">
                  <div class="">
                      NAME and descriptiion
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="card-body p-md-5 mx-md-4">
              <div class="m-3">
                <div class="row mb-4">
                  <div class="col-md-9">
                    <div class="display-4 mb-2">Settings panel</div>
                    <p>
                      <a
                        class="btn gradient-custom-2 text-white"
                        (click) = "onSchoolDetailsClicked($event)"
                      >
                        Manage school details »
                      </a>
                    </p>
                  </div>
                  <div
                    class="col-md-3 d-flex align-items-start justify-content-end"
                  >
                    <a
                      class="btn gradient-custom-2 text-white"
                      href="#"
                      role="button"
                      >Logout</a
                    >
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <h2>Classes</h2>
                    <p>Add, remove and edit classes.</p>
                    <p>
                      <a
                        class="btn gradient-custom-2 text-white"
                        href="#"
                        role="button"
                        >Manage »</a
                      >
                    </p>
                  </div>
                  <div class="col-md-4">
                    <h2>Employees</h2>
                    <p>Add, remove and edit employees.</p>
                    <p>
                      <a
                        class="btn gradient-custom-2 text-white"
                        href="#"
                        role="button"
                        >Manage »</a
                      >
                    </p>
                  </div>
                  <div class="col-md-4">
                    <h2>Students</h2>
                    <p>Add, remove and edit students.</p>
                    <p>
                      <a
                        class="btn gradient-custom-2 text-white"
                        href="#"
                        role="button"
                        >Manage »</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
