<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="/assets/app-logo.png"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">{{ schoolName }}</h4>
                  </div>
  
                  <form [formGroup]="loginForm">
                    <p>Please login to your account</p>
  
                    <div class="form-outline mb-4">
                      <input formControlName="login" type="email" id="form2Example11" class="form-control" />
                      <label class="form-label" for="form2Example11">Username</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input formControlName="password" type="password" id="form2Example22" class="form-control" />
                      <label class="form-label" for="form2Example22">Password</label>
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button 
                      class="btn gradient-custom-2 mb-3 text-white" 
                      type="button"
                      (click)="onLoginClick($event)">Log in</button>
                        <div class="text-center">
                            <a class="text-muted" href="#!">Forgot password?</a>
                        </div>
                    </div>
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Schoolager</h4>
                    <p class="text-justify small mb-0">
                        Discover the future of school administration with Schoolager, the comprehensive school management application designed to streamline operations, 
                        enhance communication, and foster academic environments. Schoolager is your all-in-one platform that simplifies the complexities of educational 
                        management.
                    </p>                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>